body {
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color:#fff;
}
.background-image{
        height: 100vh;
    width: 100vw;
    background-image: url("index-images/ankara-design.jpg");
      background-repeat: no-repeat;  
     background-size: 100vw; 
      min-height: 100vh;
    
}
.Navbar {
    padding: 0px 0;
    text-align: center;
    
}
.header-title {
display: none;
   
}

.lists {
    list-style: none;
    margin: 0;
    padding: 0;
  display:inline-flex;
  text-align: center;
     gap: 50px;
    
    
}
.list{
    display: none;
}

.list li {
    margin: 0 15px;
 
}

.content {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
}

 .content:hover {
   
    text-decoration: underline;
}

.header-titles{
    display: inline-flex;
    margin-top: 1%;
    animation: machine 7s linear infinite alternate forwards;
} 
.machine-text{
    text-shadow: 1px 3px 1px darkblue;
    font-size: 25px;
    color: white;
    margin: auto;
    
}

@keyframes machine{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform:rotate(1.5);  
    }
}
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none; 
    color: #fff;
}
.background-text{
    margin-top: 15%;
    font-size: 30px;
    font-style: oblique;
}
.background-text1{
    color:black;
}
.background-text{
    color: #fff;
}
.header-text{
    max-width: 600px;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
}
.header-text1{
    text-align: center;
}
.main-header{
    display: flex;
    gap: 5%;
    background-color: white;
}
.images{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.measuring-section{
    background-color: white;
    display: flex;
    
}
.tape{
    width: 40%;
    height: 40%;
    filter: saturate(20%);
    margin-top: 15%;
    text-decoration: underline;
}

.tape2{
    width: 50%;
    height: 50%;
       margin-top: 8%;
       gap: 10px;
}

.main-section{
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-section-text{
    max-width: 500px;
    font-size: 14px;
}
.main-images{
    width: 48%;
    height: 75%;
    border-radius: 20px;
}
.main-images1{
    width: 48%;
    height: 75%;
    border-radius: 20px;
}
.text-header{
    font-size: 40px;
    max-width: 400px;
    font-style: oblique;
    text-align: center;
}
.style{
    color: chocolate;
}
.fabrics-header{
    text-align: center;
}
.fabrics-section{
    display: flex;

}
 .fabrics-images{
    width: 70%;
    height: 70%;
    border-radius: 10px;
 }
 .fabrics-section h4{
    font-style: oblique;
    text-decoration: underline;
 }
 .text{
    text-align: center;
    font-size: 20px;
    font-style: oblique;
}
.Footer-background{
     background-repeat: no-repeat;  
     height: 100vh;
     width: 100vw;
     background-size: 50vw;
     filter:saturate(18%);
     background-image: url("index-images/footer1.jpg");
     background-color: #757370;
}


.footer-text1{
    
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 20px;
    font-style: italic;
     padding: 15%;
}

button{
    font-size: 27px;
     background-color:#757370 ;
     color: white;
}
.last-footer{
background-color:#757370 ;
 display: inline-flex;
 color: white;
 font-family:Verdana, Geneva, Tahoma, sans-serif; 
font-style: oblique;
gap: 10px;
font-size: 15px;
width: 100vw;

}
.explore{
    font-size: 15px;
    color: #fff;
    list-style-type: none;

}
.explore1{
    font-size: 15px;
}

.icons{ 
    padding: 5%;
}

.social-icon{
  border-radius: 50%;
  background-color: black;
  padding: 10px;
  color: #fff;
    transition: background-color 0.3s, transform 0.3s; 
}
.social-icon:hover {
    background-color: #0056b3; 
    transform: scale
}
@media (max-width: 790px) {
    .menu-icon {
        display: block;
        text-align:initial;
        transition: all 3s;
    }

    .list {
        display: none;
        flex-direction: column;
        margin-top: 10px;
        list-style: none;
    }

     .list.active {
        display: flex;
    } 

    .lists{
        display: none;
    }
   .header-title{
    display: flex;
    justify-content: center;
    align-items: center;
     animation: machine 7s linear infinite alternate forwards; 
   }
   .background-text{
    font-size: 10px;
   }
  
  .main-header{
    flex-direction: column;
    text-align: center;
    margin-bottom: 10%;
  }
 
   .measuring-section{
    flex-direction: column;
   text-align: center;
   
   }
.main-section{
    flex-direction: column;
text-align: center;
}
.main-section-text{
    max-width: 1000px;
}
.text-header{
max-width: 1000px;
text-align: center;
}
.header-text1{
    margin-bottom: 20%;
}
.header-text{
    margin-bottom: 20%;
}
.main-images1{
    width: 45%;
    height: 75%;
    border-radius: 20px;
}
.fabrics-section{
    flex-direction: column;
    text-align: center;
}
  

.background-image{
    width: 100vw;
    background-size: 100vw;
    height: 60vh;
    min-height: 100vh;
}
.Footer-background{
       height: 35vh;
     background-size: 60vw; 
     width: 100vw;
}
 .last-footer{
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    text-align: center;
   }
   .explore{
    display: none;
   }

.icons{
    padding: 10px;
}

} 
@media (max-width:430px){
.background-image{
    height: 60vh;
    background-size: 100vw;
     min-height: 100vh;
}
.Footer-background{
  height: 35vh;
     background-size: 60vw; 
}
.footer-text1{
    font-size: 10px;
}
button{
    font-size: 15px;
}
.last-footer{
    height: 80vh;
}
}
@media (max-width:375px) {
 .background-image{
        height: 60vh;
    width: 100vw;
    background-image: url("index-images/ankara1.jpg");
      background-repeat: no-repeat;  
    background-size:100vw;  
     min-height: 100vh;
}
.header-text1{
    margin-bottom: 20%;
}
    .Footer-background{
      height: 40vh;
     background-size: 60vw; 
    }
    .last-footer{
        height: 80vh;
    }
    .main-header{
         margin-bottom: 10%;
         
    }
    .header-text{
    margin-bottom: 10%;
    
}
}
@media (max-width:390px) {
    .background-image{
        background-size: 100vw;
        height: 60vh;
        min-height: 100vh;
    }
    .Footer-background{
      height: 35vh;
     background-size: 60vw; 
    }
    .last-footer{
        height: 80vh;
    }
}
 @media (max-width:360px) {
.Footer-background{
     height: 35vh;
     background-size: 60vw; 
    width: 100vw;
}
.last-footer1{
    flex-wrap: wrap;
}
.last-footer{
    height: 80vh;
}

 }   
@media (max-width:768px) {
   .background-image{
        height: 60vh;
    width: 100vw;
    background-image: url("index-images/ankara1.jpg");
      background-repeat: no-repeat;  
    background-size:100vw;  
     min-height: 100vh;
}
   .header-text{
    max-width: 1000px;
   }
   .Footer-background{
      height: 35vh;
     background-size: 60vw; 
   }
   .main-images{
    width: 50%;
    height: 85%;
    border-radius: 20px;
}
.last-footer{
    height: 80vh;
}
}

@media (max-width:820px) {

   .background-image{
    height: 60vh;
    background-size: 100vw;
     min-height: 100vh;
   } 
   .main-header{
    flex-direction: column;
   }
   .header-text{
    max-width: 1000px;
   }
   .background-text{
    font-size: 13px;
   }
   .main-section{
    flex-direction: column;
   }
   .main-section-text{
    max-width: 1000px;
   }
   .text-header{
    max-width: 1000px;
   }
   .Footer-background{
     height: 35vh;
     background-size: 60vw; 
   }
   .explore{
    display: none;
   }
   .main-images{
    width: 50%;
    height: 89%;
    border-radius: 20px;
}
.main-images1{
    width: 45%;
    height: 85%;
    border-radius: 20px;
}
.last-footer{
    height: 80vh;
}
}


@media (max-width:1024px) {
    .background-image{
    height: 60vh;
    background-size: 100vw;
     min-height: 100vh;
   } 
   .main-header{
    flex-direction: column;
   }
   .header-text{
    max-width: 1000px;
   }
   .background-text{
    font-size: 13px;
   }
   .main-section{
    flex-direction: column;
   }
   .main-section-text{
    max-width: 1000px;
   }
   .text-header{
    max-width: 1000px;
   }
   .Footer-background{
   height: 35vh;
     background-size: 60vw; 
   }
   .explore{
    display: none;
   }
   .main-images{
    width: 50%;
    height: 89%;
    border-radius: 20px;
}
.main-images1{
    width: 45%;
    height: 85%;
    border-radius: 20px;
}

.last-footer{
    height: 80vh;
}
}
@media (max-width:540px) {

.background-image{
        height: 60vh;
    width: 100vw;
    background-image: url("index-images/ankara1.jpg");
      background-repeat: no-repeat;  
    background-size: 100vw;
     min-height: 100vh;
    
}
.Footer-background{
  height: 35vh;
     background-size: 60vw;  
}
.last-footer{
    height: 80vh;
}

}
@media (max-width:344px) {

    .background-image{
        height: 60vh;
         background-size: 100vmax;
    }
    .Footer-background{
        height: 35vh;
     background-size: 60vw; 
    }
    .last-footer{
    height: 80vh;
}
}
@media (max-width:412px) {
.background-image{
        height: 60vh;
    width: 100vw;
    background-image: url("index-images/ankara1.jpg");
      background-repeat: no-repeat;  
    background-size: 100vw;
     min-height: 100vh;
}
    .Footer-background{
         height: 35vh;
     background-size: 60vw; 
    }
    .last-footer{
       width: 100vw;  
       height: 80vh;
    }
}

@media (max-width:1280px) {
    .background-image{
    height: 60vh;
     min-height: 100vh;
   } 
   .main-header{
    flex-direction: column;
   }
   .header-text{
    max-width: 1200px;
   }
   .background-text{
    font-size: 13px;
   }
   .main-section{
    flex-direction: column;
   }
   .main-section-text{
    max-width: 1500px;
   }
   .text-header{
    max-width: 1500px;
   }
   .Footer-background{
      height: 35vh;
     background-size: 60vw; 
   }
   .explore{
    display: none;
   }
   .main-images{
    width: 50%;
    height: 89%;
    border-radius: 20px;
}
.main-images1{
    width: 45%;
    height: 85%;
    border-radius: 20px;
}
.last-footer{
    height: 80vh;
}
}